.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* for comment list div in comment list */
.item-list{
  display: block;
  width: 500px;
 }
.item-list ul {
  background: #5a6e74;
  padding: 1px;
  list-style: none;
  
}
.item-list ul li{
  background: #eef4f8;
  padding: 5px;
  margin-left: 35px;
  text-align: left;
  border-bottom: 1px solid #5a6e74;
}

.color-container{
  display: block;
  text-align: left;
  width: 500px;
}
.color-item{
  padding: 16px 32px;
  border-left: 10px solid black;
}